functionalAnalysis/

exe/*.spec
exe/*/

backend/__*/
backend/build/
backend/config.ini

crm/config.ini
crm/debug_log.txt
crm/backups/*

*.log
start_servers.exe

frontend/src/config/backups/*

*.MDB

excelImport/*