.CenteredPageVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
}

.CenteredPageHorizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.5rem;
}

.CenteredPage-text {
  font-weight: bold;
}

.missingIcon {
  color: red;
  font-size: 35px;
  padding-right: 10px;
}

svg {
  stroke: currentColor;
}
