.CenteredPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.5rem;
}

@media (prefers-color-scheme: light) {
  th,
  .navbar.bg-body-tertiary {
    /*rgba(220, 220, 220) grigio*/
    background-color: rgba(215, 230, 250) !important;
  }
}

@media (prefers-color-scheme: dark) {
  td {
    background-color: rgba(48, 52, 56) !important;
  }
}
